# Default ignored files
/shelf/
/workspace.xml
/.gitignore
/.name
/compiler.xml
/deploymentTargetSelector.xml
/gradle.xml
/kotlinc.xml
/migrations.xml
/misc.xml
/vcs.xml
/deploymentTargetDropDown.xml
/caches/deviceStreaming.xml
/material_theme_project_new.xml
/inspectionProfiles/Project_Default.xml
/runConfigurations.xml
